#userArea{
    margin-top: 7.5vh;
}

#selection-content {
    align-self: center;
}
#selectedWorkouts{
    text-align: center;
    padding: 25px;
    margin: 25px;
    border-top: #b67806 1px solid;
    border-bottom: #b67806 1px solid;
    flex-direction: column;
}

#greet{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vw;
    color: #525252;
    font-family: "Kanit";
    font-size: 1.5vh;
}

#greet h1{
    border-bottom: solid 1px #b67806;
    color: white;
}
@media (max-width: 768px) {
    #userArea{
        margin: 35px;
    }
    #greet{
        margin-top: 25px;

    }
}


#weather{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-family: "Kanit";
}

#weather p{
    border-bottom: 2px solid #b67806;
}

#controlButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    margin: 50px;
    font-size: 2.5vh;
}
#controlButtons a:hover {
    cursor: pointer;
    color: #525252;
    transition: .2s ease-in-out all;
}

@media (max-width: 768px) {
    #controlButtons {
        margin: -15px;
    }
}
#selection {
    font-family: "Kanit";
}

#options h1{
    font-size: 2vh;
}

.workoutCards{
    color: #b8b8b8;
    width: 25vh;
    border-radius: 10px;
    transition: 0.2s ease-in-out all;
    overflow: hidden;
    font-family: "Kanit";
    height: auto;
    overflow: scroll;
}

.workoutCards a{
    color: #b67806;

}

#workoutCardTimer{
    background-color: #1f1f1f;
    text-align: center;

}

.workoutCards img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    height: auto;
    padding: 20px;
    text-align: left;
    bottom: 0;
    background-color: #2b2b2b;
    border-radius: 0 0 10px 10px;
}

.workoutCards:hover{
    cursor: pointer;
    transform: scale(1.02);
    color: #ffffff;
    box-shadow: 0 8px 18px 0 rgba(0,0,0,0.4);
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
}


.selectedCards {
    display: flex;
    align-items: center;
    width: 50vh;
    height: 13vh;
    margin-top: 10px;
}

.selectedCards img {
    width: 13vh;
    height: 13vh;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.selectedCards .textContent {
    flex: 1;
    background-color: #181818;
    border-radius: 0 5px 5px 0;
    padding: 2.3vh;
    font-family: "Kanit";
}
@media (max-width: 768px) {
    .selectedCards .textContent {
        padding: 10px;
    }
    .selectedCards img {
        width: 25vw;
        height: 24vw;
    }
    .selectedCards {
        width: 86vw;
    }
}
#textContentDetails2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textContentDetails2 button{
    background: none;
    border: none;
    color: white;
    font-family: "Kanit";
    font-size: 2vh;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

#textContentDetails2 button:hover{
    color: rgb(77, 77, 77);
}

#textContentDetails1{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: baseline;
}

.selectedCards h1,
.selectedCards p {
    margin: 0;
    color: white;
}

.selectedCards h1{font-size: 2vh;}

#nameWorkout{
    font-family: "Kanit";
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nameWorkout label{
    font-size: 3vh;
}

#nameWorkout input{
    font-family: "Kanit";
    margin-top: 25px;
    text-align: center;
    border: 2px solid transparent;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    border: 1px solid white;
}

#nameWorkout input:focus {
    border-color: #b67806;
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2);
}

#nameWorkout input::placeholder {
    color: #ffffff;
    opacity: 1;
    transition: transform 0.3s ease;
}

#nameWorkout input:focus::placeholder {
    transform: translateY(-20px);
    font-size: 0.75em;
    color: #b67806;
}

#workoutInfo{
    font-family: "Kanit";
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
#createWorkout{
    background: none;
    border: #b67806 solid 1px;
    padding: 5px;
    font-family: "Kanit";
    outline: none;
    color: #b67806;
    border-radius: 5px;
    transition: .2s ease-in-out all;
    cursor: pointer;
}
#createWorkout:hover{
    border: #fff solid 1px;
    color: #fff;
}

#workoutCardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#pointer{
    font-family: "Kanit";
    color: grey;
    margin: 25px;
}