.fade {
    animation: fade-in 1s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.buttonStyle1{
    font-family: "Kanit";
    font-size: 1.5vh;
    border: none;
    outline: 1px white solid;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background: none;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

.buttonStyle1:hover{
    background: white;
    transform: translateY(-10px);
    color: black;
}

.buttonStyle2{
  font-family: "Kanit";
  font-size: 1.5vh;
  border: none;
  outline: 1px white solid;
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  background: none;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out all;
}

.buttonStyle2:hover{
  background: white;
  color: black;
}

.notification{
  position: absolute;
  margin-top: 30px;
  margin-right: 10px;
  top: 0;
  right: -300px;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s ease;
  color: white;
  font-family: "Kanit";
  text-transform: uppercase;
}

.notification.slide-in {
  right: 10px;
}

@media (max-width: 768px) {
  .notification{
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.3vh;
  }
}

.fade {
  animation: fade-in .5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h-5{
  position: absolute;
  left: 5%;
  transform: translateX(-5%);
  height: 1.8rem;
  padding: 12px;
  border-radius: 50%;
  transition: .1s ease-in-out all;
}
.h-5:hover{
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.5);
}

#sidebar {
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  top: 12%;
  left: 5.8%;
  transform: translate(-5.8%,-12%);
  width: 20vh;
  background-color: #121212;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#sidebar a{
  font-family: "Kanit";
  font-size: 1.5vh;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  transition: .1s ease-in-out all;
}
#sidebar a:hover{
  color: white;
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.5);
}