.fade {
    animation: fade-in 1s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.buttonStyle1{
    font-family: "Kanit";
    font-size: 1.5vh;
    border: none;
    outline: 1px white solid;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    background: none;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out all;
}

.buttonStyle1:hover{
    background: white;
    transform: translateY(-10px);
    color: black;
}

.buttonStyle2{
  font-family: "Kanit";
  font-size: 1.5vh;
  border: none;
  outline: 1px white solid;
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  background: none;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out all;
}

.buttonStyle2:hover{
  background: white;
  color: black;
}

.notification{
  position: absolute;
  margin-top: 30px;
  margin-right: 10px;
  top: 0;
  right: -300px;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s ease;
  color: white;
  font-family: "Kanit";
  text-transform: uppercase;
}

.notification.slide-in {
  right: 10px;
}

@media (max-width: 768px) {
  .notification{
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.3vh;
  }
}

.fade {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}