@import url('https://fonts.googleapis.com/css?family=Kanit'); /*Importing Font*/

*{
    margin: 0;
    padding: 0;
}

/*Hiding Scrollbar*/
::-webkit-scrollbar{
    display: none;
}

/*body styling and background video*/
body{
    background-color: #121212;
    color: white;
}
#bgVideo {
    height: 99.6vh;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -9999;
    filter: blur(10px);
}

/*Center Styling*/
main{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: "Kanit";
}

main h1{
    font-size: 5vh;
}


#createPage{
    margin-top: 150px;
}


#inputCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 50vh;
    border-radius: 10px;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#sText {
    position: absolute;
    top: 85%;
    transform: translateY(-85%);
}

.input-container input{
    outline: none;
    border: none;
    height: 2.7vh;
    width: 22vh;
    font-family: "Kanit";
    color: white;
    background: none;
    border-bottom: 1px solid white;
    ::placeholder {
        color: white;
        opacity: 1;
    }
    :-ms-input-placeholder { 
        color: white;
    }
    ::-ms-input-placeholder {
        color: white;
    }
}

.input-with-icon {
    display: flex;
    align-items: center;
}

.input-with-icon i {
    margin-right: 10px;
    color: white;
}

.input-container button{
    background: none;
    color: white;
}

#signup,#login{
    border: none;
    background: none;
    color: rgb(9, 97, 168);
    font-family: "Kanit";
    transition: .2s ease-in-out all;
    cursor: pointer;
}

#signup:hover, #login:hover{
    color: rgb(64, 110, 148);
    text-decoration: underline;
}

#iknewit{
    height: 400px;
}

@media (max-width: 768px) {
    #iknewit{
        height: 280px;
    }
}

#sTextP {
    display: flex;
    top: 85%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

