@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    color: white;
    font-family: "Kanit";
}

#userArea{
    margin-top: -2.5vh;
}
#controlButtons {
    gap: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    margin: 50px;
    font-size: 2.5vh;
}
@media (max-width: 768px) {
    #controlButtons {
        margin: -15px;
    }
}

#controlButtons h1{
    font-size: 2vh;
    color: #ffffff;
    border-bottom: #b67806 .5px solid;
}
@media (max-width: 768px) {
    #userArea{
        margin: 35px;
    }
    #greet{
        margin-top: 25px;

    }
}

#userControls{
    position: fixed;
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

#middleControls{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 25px;
    align-items: center;
    min-width: 150px;
}

#leftControls{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
#leftControls:hover{
    font-size: 1vh;
    border-radius: 50%;
    background-color: rgba(44, 44, 44, 0.5);
}  
#rightControls{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s ease-in-out all;
}
#rightControls:hover{
    font-size: 1vh;
    background-color: rgba(44, 44, 44, 0.5);
}  
#screen{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
}

#screen img{
    border-radius: 5px;
    max-width: 50vh;
    height: 30vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #screen img{
        max-width: 35vh;
        height: 20vh;
    }
  }

  #upNext {
    display: flex;
    background-color: #0e0e0e;
    border-radius: 5px;
    width: 35vh;
    height: 12vh;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: -999;
}

#textNext{
    text-align: center;
    margin-right: 50px;
}

#upNext p{
    color: #b67806;
}

#upNext img {
    border-radius: 5px 0 0 5px;
    max-width: 12vh;
    height: auto;
    display: block;
}

#allWorkoutsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

#workoutElementCard {
    width: 45vh;
    background-color: #1b1b1b;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

#workoutElementCard img{
    border-radius: 5px 0 0 5px;
    max-width: 12vh;
    height: auto;
    display: block;
}
#workoutElementCard p{
    margin-right: 15px;
    color: #b67806;
}
#share {
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow{
    margin-left: 10px;
    stroke: white;
    fill: white;
    rotate: 180deg;
    height: 1rem;
    padding: 12px;
    border-radius: 50%;
    transition: .1s ease-in-out all;
    cursor: pointer;
}

#arrow:hover{
    font-size: 1vh;
    color: #636363;
    background-color: rgba(44, 44, 44, 0.5);
}

#settings{
    fill: white;
    stroke: white;
    height: 5vh;
}

#showAllWorkouts{
    fill: white;
    stroke: white;
    height: 5vh;
}

#playButton{
    fill: white;
    stroke: white;
    height: 7vh;
    border-radius: 50%;
    transition: .2s ease-in-out all;
    cursor: pointer;
}

#playButton:hover{
    font-size: 1vh;
    background-color: rgba(44, 44, 44, 0.5);
}  

#backButton,#forwardButton{
    fill: white;
    stroke: white;
    height: 3vh;
    border-radius: 50%;
    transition: .2s ease-in-out all;
    cursor: pointer;
    padding: 10px;
}

#backButton:hover,
#forwardButton:hover{
    font-size: 1vh;
    background-color: rgba(44, 44, 44, 0.5);
}

#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px) {
    #stats {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
  }

  #workoutTimer {
    height: 77px;
    background-color: #0e0e0e;
    padding: 20px;
    width: 245px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#workoutTimer p{
    border-bottom: rgba(255, 255, 255, 0.397) 1px solid;
}

#sectionsForShit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
#sectionsForShit i{
    margin-right: 10px;
}

#shit{
    height: 50px;
    fill: #b67806;
    stroke: #b67806;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlayStyle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.overlayTextStyle{
    color: white;
    font-size: 2vh;
}

.overlayInputFieldStyle{
    width: 30vh;
    padding: 10px;
    background-color: #1b1b1b;
    color: white;
    border: 1px solid #b67806;
    border-radius: 5px; 
}

.socialMediaContainerStyle{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pauseMessage{
    text-align: center;
}

#pauseMessage h1{
    text-transform: uppercase;
    font-size: 5vh;
}

#pauseMessage button {
    border: none;
    padding: 15px;
    background: #b67806;
    color: #ffffff;
    font-family: "Kanit";
    border-radius: 5px;
    margin: 10px;
    font-size: 2vh;
    transition: .2s ease-in-out all;
    cursor: pointer;
}

#pauseMessage button:hover{
    background: #ffffff;
    color: #b67806;
}

#inWorkSettings {
    opacity: 0;
    position: fixed;
    top: 89%;
    left: 7vh;
    transform: translate(-10%, -89%);
    border-radius: 5px;
    width: 20vh;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: #121212;
}

#inWorkSettings a{
    font-family: "Kanit";
    font-size: 1.5vh;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: .1s ease-in-out all;
}

#inWorkSettings a:hover{
  color: white;
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.5);
}

#specificTimer{
    font-size: 4vh;
    color: #b67806;
}