@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #121212;
    color: white;
    font-family: "Kanit";
}

#userArea{
    margin-top: -2.5vh;
}
#controlButtons {
    gap: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin: 50px;
    font-size: 2.5vh;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
}
@media (max-width: 768px) {
    #controlButtons {
        margin: -15px;
    }
}

#controlButtons h1{
    font-size: 2.5vh;
    border-bottom: solid 1px #b67806;
    color: #ffffff;
}
@media (max-width: 768px) {
    #userArea{
        margin: 35px;
    }
    #greet{
        margin-top: 25px;

    }
}

#userControls{
    position: fixed;
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
}

#middleControls{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 25px;
}

#middleControls button{
    color: #ffffff;
    background: none;
    border: none;
    font-size: 4vh;
    cursor: pointer;
    transition: .2s ease-in-out all;
}
#middleControls button:hover{
    color: #a0540e;
}
#leftControls{
    display: flex;
    justify-content: flex-start;
}
#leftControls button{
    color: #b67806;
    background: none;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}

#rightControls{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
#rightControls button{
    color: #b67806;
    background: none;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}

.slider {
    margin-top: 16px;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    background: #b67806;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#screen img{
    border-radius: 5px;
    max-width: 50vh;
    height: 30vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #screen img{
        max-width: 35vh;
        height: 20vh;
    }
  }

  #upNext {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #161616;
    border-radius: 5px;
    width: 35vh;
    height: 10vh;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#textNext{
    text-align: center;
    margin-right: 50px;
}

#upNext p{
    color: #b67806;
}

#upNext img{
    border-radius: 5px 0 0 5px;
    max-width: 10vh;
    height: auto;
    display: block;
}

#allWorkoutsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111111;
    height: 320px;
    width: 500px;
    padding: 150px;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#workoutElementCard {
    width: 45vh;
    background-color: #1b1b1b;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#workoutElementCard img{
    border-radius: 5px 0 0 5px;
    max-width: 12vh;
    height: auto;
    display: block;
}